#icon_exit:hover {
-fx-fill:#62727b
}

.jfx-combo-box .input-line{
	-fx-pref-height: 0px;
}
.jfx-combo-box .input-focused-line{
	-fx-pref-height: 0px;
}
.jfx-text-area .input-line{
	-fx-pref-height: 0px;
}
.jfx-text-area .input-focused-line{
	-fx-pref-height: 0px;
}
.jfx-text-field .input-line{
	-fx-pref-height: 2px;
}
.jfx-text-field .input-focused-line{
	-fx-pref-height: 2px;
}
.jfx-text-field {
    -fx-text-inner-color: #d75959;

}