.button:hover {
-fx-fill:#62727b
}
.datePicker > .text-field {
-fx-background-color:#ffffff;
-fx-text-fill: black;
-fx-border-style:none;
}
.datePicker {
-fx-font-family:HelveticaNeueLTPro-Lt;
-fx-font-size:14;
}
.datePicker:focused {

}
.combo-box {
-fx-font-family:HelveticaNeueLTPro-Lt;
-fx-font-size:14;
}
.combo-box .list-cell:selected .text,
 .choice-box .list-cell:selected .text {
     -fx-fill: black;
 }

.combo-box .text,
 .choice-box .text {
     -fx-text-fill: black;
 }



.date-picker .text-field {
    -fx-control-inner-background: white ;
    -fx-control-inner-border:0px;
    -fx-border-size:0px;
    -fx-border-color:transparent;
}


.date-picker {
-fx-mark-background-color:#102128;
-fx-mark-color:#102128;
-fx-mark-radius:0px;
-fx-mark-border-width:0px;
-fx-focus-color:#ff4d4d;
-fx-faint-focus-color:#ff4d4d;
-fx-faint-radius:0;
-fx-faint-border-width:0px;
-fx-faint-background-radius:0;
-fx-faint-border-color:#102128;
-fx-background-radius:0;
-fx-border-radius:0;
-fx-background-color:#e7e7e7;
-fx-background-radius:0px;
}
.date-picker:hover{
-fx-mark-color:#ff4d4d;
-fx-background-radius:0px;
-fx-border-radius:0;
}

 .date-picker .cell {
-fx-background-color:#ffffff;
-fx-text-fill:#000000;

 }
.date-picker .cell:hover {
-fx-background-color: #ff4d4d;
-fx-border-width:0px;
}
.date-picker .label {
-fx-background-color:#ffffff;
-fx-text-fill:#ff4d4d;
}
.date-picker-popup > .month-year-pane {
-fx-background-color:#ffffff;
-fx-border-width:0px;
}
.date-picker > .text-field:focused {
-fx-faint-focus-color:#ff4d4d;
}
.date-picker-popup {
-fx-background-color:#ffffff;
    -fx-background-radius: 0;
    -fx-border-width:0px;
    -fx-border-color:#e7e7e7;
    -fx-inner-border:0px;
    -fx-outer-border:0px;
    -fx-alignment: CENTER; /* VBox */
    -fx-spacing: 0; /* VBox */

    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.2) , 12, 0.0 , 0 , 8 );
}

.date-picker-popup > * > .day-cell:focused,
.date-picker-popup > * > .today:focused {
-fx-background-color:#ff4d4d;
-fx-text-fill:#ffffff;

}
.date-picker-popup > .calendar-grid {
    -fx-background-color: transparent;
    -fx-cell-border-color:transparent;
    -fx-border-color:transparent;
    /*-fx-background-insets: 1 0 0 0;*/
    -fx-padding: 0;
}
.date-picker-popup > .calendar-grid-lines {
    -fx-background-color:#102128;
    -fx-fill:#102128;

}
.date-picker-popup > * > .day-cell {
    -fx-padding: 0.333333em 0.583333em 0.333333em 0.583333em; /* 4 7 4 7 */
    -fx-border-color: derive(-fx-selection-bar-non-focused, 60%);
    -fx-border-width: 0px;
    -fx-font-size: 1.3em;
    -fx-background: -fx-control-inner-background;

}
.date-picker-popup > * > .hijrah-day-cell {
    -fx-padding: 0.333333em 0.583333em 0.333333em 0.583333em; /* 4 7 4 7 */
    -fx-border-color: derive(-fx-selection-bar-non-focused, 60%);
    -fx-border-width: 0px;
    -fx-font-size: 1.3em;
    -fx-background: -fx-control-inner-background;

}
.date-picker-popup > * > .spinner > .label {
    -fx-alignment: CENTER;
    -fx-font-size: 1.2em;
}
.date-picker-popup > * > .day-name-cell,
.date-picker-popup > * > .week-number-cell {
    -fx-font-size: 1.2em;
}
.date-picker-popup > * > .spinner > .button:hover > .left-arrow,
.date-picker-popup > * > .spinner > .button:hover > .right-arrow {
    -fx-mark-highlight-color:#ff4d4d;
    -fx-border-width:0px;
}
.date-picker-popup > * > .spinner > .button:pressed > .left-arrow,
.date-picker-popup > * > .spinner > .button:pressed > .right-arrow {
 -fx-mark-highlight-color:#ff4d4d;
   -fx-border-width:0px;
}
.date-picker-popup > * > .spinner > .button > .left-arrow {
    -fx-padding: 0.333333em 0.25em 0.333333em 0.166667em; /* 4 3 4 2 */
    -fx-shape: "M5.997,5.072L5.995,6.501l-2.998-4l2.998-4l0.002,1.43l-1.976,2.57L5.997,5.072z";
    -fx-scale-shape: true;
        -fx-mark-color:#ffffff;
          -fx-border-width:0px;
}
.date-picker-popup > * > .spinner > .button > .right-arrow {
    -fx-padding: 0.333333em 0.25em 0.333333em 0.166667em; /* 4 3 4 2 */
    -fx-shape: "M2.998-0.07L3-1.499l2.998,4L3,6.501l-0.002-1.43l1.976-2.57L2.998-0.07z";
    -fx-scale-shape: true;
    -fx-mark-color:#ffffff;
      -fx-border-width:0px;
}
.date-picker-popup > * > .spinner > .button {
   -fx-background-color:transparent;
}